body{
    background-color: rgba(97, 95, 95, 0.705);
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.459);
    gap: 20px;
    padding-bottom: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 20px;
}

.botao{
    text-decoration: none;
    font-weight: 500;
    color: azure;
    border: 2px solid azure;
    padding: 6px;
    border-radius: 16px;
}

.botao:hover{
    background-color: azure;
    color: black;
    font-weight: 600;
    transition: 0.4s;
}